@font-face {
	font-family: "FontSpring Regular Bold";
	src: local("FontSpring Regular Bold"),
		url("./assets/fonts/integral-cf-demi-bold.otf") format("opentype");
}

@font-face {
	font-family: "helvetica";
	src: local("helvetica"),
		url("./assets/fonts/helvetica_medium.ttf") format("truetype");
}
@font-face {
	font-family: "FontSpring Regular";
	src: local("FontSpring Regular"),
		url("./assets/fonts/integral-cf-regular.otf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'FontSpring Regular' !important;
	}
	input, p, td{
		font-family: 'helvetica' !important;
	}
	button, a{
		font-family: 'FontSpring Regular Bold' !important;
	}
}